@import "./utils/_variables";
@import "./utils/fonctions";
@import "./utils/mixins";
@import "./utils/placehorlders";

@font-face {
    font-family: "shrikhand";
    src: url(Police/Shrikhand-Regular.otf);
}
@font-face {
    font-family: "roboto";
    src: url(Police/Roboto-Regular.ttf);
}
body{margin: 0; color: black; font-family: "roboto";}
a{ text-decoration: none; color: black;}

.header{
  
    @include flexcenter;
    box-shadow: -4px 8px 12px 0px #c2c2c2;
    
    &__logo{
        @include flexcenter;
        height: 60px;
        position: relative;
        width: 100%;
        &__img{
            width: 200px;
        }
        

    }
    &__icone{
     position: absolute;
     left: 20px;
     font-size: 20px;
    }
}


.presentationenchanté{
    @include presentation;
    background-image: url(/img/La_note_enchantée.jpg);
    background-position-y:-85px; 
    background-position-x: 0 ;
   
}
    
.presentationfrancaise{
    @include presentation;
    background-image: url(/img/A_la_francaise.jpg);
    background-position-y:0px; 
    background-position-x: -30px;
    
    
}
.presentationlapalette{
    @include presentation;
    background-image: url(/BENAZETRobin_3_12052021/img/La_palette_du_gout.jpg);
    background-position-x:-30px ;
    margin:0;
    height:250px;


}
.presentationenchanté{
@include presentation;
background-image: url(/BENAZETRobin_3_12052021/img/La_note_enchantée.jpg);
margin:0;
height: 250px;
background-position-y:-100px; 
}
.presentationfrancaise{
    @include presentation;
    background-image: url(/BENAZETRobin_3_12052021/img/A_la_francaise.jpg);
    margin: 0;
    height: 250px;
    background-position-y:-05px; 
}
.presentationlesdelices{
    @include presentation;
    background-image: url(/BENAZETRobin_3_12052021/img/Le_delice_des_sens.jpg);
    margin:0;
    height: 250px;
}

.menu{
    background-color: #ededed;
    width: 100%;
    border-top-right-radius:50px ;
    border-top-left-radius: 50px;
    margin-top: -55px;
    
    
    
    &__pres{
        margin-left: 30px;
        padding-top: 10px;
        @include flexcenter;
        justify-content: space-between;
        
        
        &__titre{
            font-size: 25px;
            font-family: "shrikhand";

        }
        &__icone{
            @include coeur;
            padding-right: 30px;
            font-size: 30px;
        }
    }
    &__carte{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        
        &__catégorie{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            
            

            &__menus{ 
                height: 60px;
                

                &__titre{
                    font-size: 25px;
                    margin-top: 10px;
                    font-weight: normal;
                    
                    &::after{
                        content: "";
                        display: block;
                        width: 60px;
                        height: 4px;
                        background-color: $couleur-tertiaire;
                    }
                }
            }
            &__plats{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;
                justify-content: space-between;
                
                

                &__liens{
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    height: 78px;
                    width: 90%;
                    box-shadow: #c2c2c2 5px 5px 5px 5px;
                    border-radius: 20px;
                    background-color: white;
                    justify-content: space-between;
                    animation: slide-top linear .5s  both;
                    visibility: hidden;
                        @for $i from 1 through $num-liens {
                        &--#{$i}{
                            animation-delay: 0.5s*$i
                        }
                        
                    }
                   
                   
                    &:hover{

                        .menu__carte__catégorie__plats__liens__platsprix__prix{
                           padding-right: 00px;
                            transition: 0.5s ease;
                        }
                    }

                    &:hover{
                        .menu__carte__catégorie__plats__liens__slide{
                            visibility: visible;
	                        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                        border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px; 
                            background-color: $couleur-tertiaire;
                            width: 80px;
                            @include flexcenter;
                          
                            &__icone{
                                font-size: 25px;
                                animation: rotate-center 0.4s ease-in-out both;
                                color: white;
                            }
                        }   
                    }
                    &__platsprix{
                        display: flex;
                        justify-content: space-between;
                         white-space: nowrap;
                         overflow: hidden;
                         width: 100%;
                         height: 100%;
                           
                        &__plats{
                            
                            margin-left: 10px;
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            
                            &__nom{
                                
                                font-size: 18px;
                                margin-top: 15px;
                                margin-bottom: 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            &__nomligne{
                                overflow: initial;
                                text-overflow: initial;
                                width: 600px;
                              
                              
                                
                               
                            }
                            &__description{
                                font-size: 15px;
                                margin-top: 5px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                               
                            }
                        }
                        &__prix{
                        
                        font-size: 15px;
                        margin-left: 15px;
                            &__euros{
                                padding-right: 0px;
                                margin-bottom: 25px;
                                font-weight: bold;
                                position: relative;
                                bottom: -28px;
                            }  
                        }
                    }
                    &__platsprix{
                        &__plats4{

                        white-space: normal;}
                        &__noms {
                            overflow: initial;
                            text-overflow: initial;
                            max-width: 600px;}
                        
                    }
                    &__slide{
                    
                        visibility: hidden;
                    }                       
                }
            }    
               
        }
      
    }
    &__bouton{
        width: 90%;
        @include flexcenter;
        
        padding-bottom: 80px;
         
        &__commander{
            @include bouton;
           
            &:hover{
                @include bouton__hover
            }
        }

    }

}


.footer{
    height: 300px;
    background-color:#353535;
  
   &__titre{
        color: white;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        padding-top: 50px;
        padding-bottom: 40px;
        font-family: "shrikhand";
        font-size: 30px;
    }
    &__menu{
        margin-left:  20px;
        margin-top: 0;
        padding: 0;
        
        &__list{
            list-style: none;
            margin-top: 0;
            font-size: 20px;
            margin-bottom: 15px;
           
            &__liens{
                color: white;

                &__icone{
                    padding-right: 20px;
                }
                &__iconehand{
                    font-size: 13px;
                    padding-right: 20px;
                }
            }   
        }

    }
}
@media  screen and (min-width: 345px) {
    .presentationlapalette { background-position-x: 0;  max-width: 100%;height:350px;background-position: center;max-height: 100%;
}
    .presentationlesdelices{ background-position-x: 0;  max-width: 100%;height:350px;background-position: center;max-height: 100%;}
    .presentationenchanté{background-position-y: 0;  max-width: 100%;height:350px;background-position: center;max-height: 100%;}
    .presentationfrancaise{background-position-y: 0;  max-width: 100%;height:350px;background-position: center;max-height: 100%;}
    .menu{margin-top: -40px;}

}
@media screen and (min-width:600px) {
    .footer{
        @include flexcenter;
        flex-direction:column;
        &__menu{
            display: flex;
            flex-direction: row;
            width: 90%;
            justify-content: space-between;
            &__list{
                
               
                &__liens{
                    
    
                    &__icone{
                        padding-right: 5px;
                    }
                    &__iconehand{
                      
                        padding-right: 5px;
                    }
                }   
            } 
        }
    }    
}

@media  screen and (min-width: 1024px ) {
    .menu__carte{
        flex-direction: row;
      
    }
    .menu__carte__catégoriespé{
        width: 40%;
    }
}