@charset "UTF-8";
@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 8px #9356DC;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 8px #9356DC;
  }
}
@keyframes loading {
  0% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@font-face {
  font-family: "shrikhand";
  src: url(Police/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "roboto";
  src: url(Police/Roboto-Regular.ttf);
}
body {
  margin: 0;
  color: black;
  font-family: "roboto";
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 8px 12px 0px #c2c2c2;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
  width: 100%;
}
.header__logo__img {
  width: 200px;
}
.header__icone {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

.presentationenchanté {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/La_note_enchantée.jpg);
  background-position-y: -85px;
  background-position-x: 0;
}

.presentationfrancaise {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/A_la_francaise.jpg);
  background-position-y: 0px;
  background-position-x: -30px;
}

.presentationlapalette {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/La_palette_du_gout.jpg);
  background-position-x: -30px;
  margin: 0;
  height: 250px;
}

.presentationenchanté {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/La_note_enchantée.jpg);
  margin: 0;
  height: 250px;
  background-position-y: -100px;
}

.presentationfrancaise {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/A_la_francaise.jpg);
  margin: 0;
  height: 250px;
  background-position-y: -5px;
}

.presentationlesdelices {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/Le_delice_des_sens.jpg);
  margin: 0;
  height: 250px;
}

.menu {
  background-color: #ededed;
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -55px;
}
.menu__pres {
  margin-left: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.menu__pres__titre {
  font-size: 25px;
  font-family: "shrikhand";
}
.menu__pres__icone {
  display: flex;
  font-size: 40px;
  margin-right: 0px;
  color: transparent;
  -webkit-text-stroke: black 2px;
  opacity: 0.6;
  padding-right: 10px;
  padding-right: 30px;
  font-size: 30px;
}
.menu__pres__icone:hover {
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom left, #9356DC, #ff79da);
  transition: all ease-in-out 3s;
  opacity: 1;
  -webkit-text-stroke: black 0px;
}
.menu__carte {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.menu__carte__catégorie {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.menu__carte__catégorie__menus {
  height: 60px;
}
.menu__carte__catégorie__menus__titre {
  font-size: 25px;
  margin-top: 10px;
  font-weight: normal;
}
.menu__carte__catégorie__menus__titre::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #99e2d0;
}
.menu__carte__catégorie__plats {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
.menu__carte__catégorie__plats__liens {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 78px;
  width: 90%;
  box-shadow: #c2c2c2 5px 5px 5px 5px;
  border-radius: 20px;
  background-color: white;
  justify-content: space-between;
  animation: slide-top linear 0.5s both;
  visibility: hidden;
}
.menu__carte__catégorie__plats__liens--1 {
  animation-delay: 0.5s;
}
.menu__carte__catégorie__plats__liens--2 {
  animation-delay: 1s;
}
.menu__carte__catégorie__plats__liens--3 {
  animation-delay: 1.5s;
}
.menu__carte__catégorie__plats__liens--4 {
  animation-delay: 2s;
}
.menu__carte__catégorie__plats__liens--5 {
  animation-delay: 2.5s;
}
.menu__carte__catégorie__plats__liens--6 {
  animation-delay: 3s;
}
.menu__carte__catégorie__plats__liens--7 {
  animation-delay: 3.5s;
}
.menu__carte__catégorie__plats__liens--8 {
  animation-delay: 4s;
}
.menu__carte__catégorie__plats__liens--9 {
  animation-delay: 4.5s;
}
.menu__carte__catégorie__plats__liens--10 {
  animation-delay: 5s;
}
.menu__carte__catégorie__plats__liens:hover .menu__carte__catégorie__plats__liens__platsprix__prix {
  padding-right: 0px;
  transition: 0.5s ease;
}
.menu__carte__catégorie__plats__liens:hover .menu__carte__catégorie__plats__liens__slide {
  visibility: visible;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99e2d0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__carte__catégorie__plats__liens:hover .menu__carte__catégorie__plats__liens__slide__icone {
  font-size: 25px;
  animation: rotate-center 0.4s ease-in-out both;
  color: white;
}
.menu__carte__catégorie__plats__liens__platsprix {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.menu__carte__catégorie__plats__liens__platsprix__plats {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu__carte__catégorie__plats__liens__platsprix__plats__nom {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__carte__catégorie__plats__liens__platsprix__plats__nomligne {
  overflow: initial;
  text-overflow: initial;
  width: 600px;
}
.menu__carte__catégorie__plats__liens__platsprix__plats__description {
  font-size: 15px;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__carte__catégorie__plats__liens__platsprix__prix {
  font-size: 15px;
  margin-left: 15px;
}
.menu__carte__catégorie__plats__liens__platsprix__prix__euros {
  padding-right: 0px;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
  bottom: -28px;
}
.menu__carte__catégorie__plats__liens__platsprix__plats4 {
  white-space: normal;
}
.menu__carte__catégorie__plats__liens__platsprix__noms {
  overflow: initial;
  text-overflow: initial;
  max-width: 600px;
}
.menu__carte__catégorie__plats__liens__slide {
  visibility: hidden;
}
.menu__bouton {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.menu__bouton__commander {
  border-radius: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 250px;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  box-shadow: 2px 2px 10px black;
}
.menu__bouton__commander:hover {
  opacity: 0.7;
  transition: 1s;
  box-shadow: 2px 2px 20px black;
}

.footer {
  height: 300px;
  background-color: #353535;
}
.footer__titre {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-family: "shrikhand";
  font-size: 30px;
}
.footer__menu {
  margin-left: 20px;
  margin-top: 0;
  padding: 0;
}
.footer__menu__list {
  list-style: none;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__menu__list__liens {
  color: white;
}
.footer__menu__list__liens__icone {
  padding-right: 20px;
}
.footer__menu__list__liens__iconehand {
  font-size: 13px;
  padding-right: 20px;
}

@media screen and (min-width: 345px) {
  .presentationlapalette {
    background-position-x: 0;
    max-width: 100%;
    height: 350px;
    background-position: center;
    max-height: 100%;
  }

  .presentationlesdelices {
    background-position-x: 0;
    max-width: 100%;
    height: 350px;
    background-position: center;
    max-height: 100%;
  }

  .presentationenchanté {
    background-position-y: 0;
    max-width: 100%;
    height: 350px;
    background-position: center;
    max-height: 100%;
  }

  .presentationfrancaise {
    background-position-y: 0;
    max-width: 100%;
    height: 350px;
    background-position: center;
    max-height: 100%;
  }

  .menu {
    margin-top: -40px;
  }
}
@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .menu__carte {
    flex-direction: row;
  }

  .menu__carte__catégoriespé {
    width: 40%;
  }
}

/*# sourceMappingURL=stylemenus.css.map */
